@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Open Sans", sans-serif;
}
/* common style */
.common-btn{
    background-color:#fd6e0a;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding:10px 20px;
    border: none;
    cursor: pointer;
}
.outline-btn{
    background-color:white;
    border-radius: 5px;
    color: #fd6e0a;
    font-size: 20px;
    padding:10px 20px;
    border: 1px solid #fd6e0a;
    cursor: pointer;
    margin-left: 10px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* section  */
.section-content{
    padding-bottom: 30px;
}
.section-content h2{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}
.section-content p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 0 155px;
    text-align: center;
}
/* header  */
header{
    background-color: red;
}
.logo{
    font-weight: bold;
    font-size: 32px;
}
.logo-r{
  color: #fd6e0a;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
    
}
ul li a{
    font-size: 20px;
    font-weight: 400;
    color: #474747;
    text-decoration: none;
}


/* hero  */
.hero{
    background-color: #FFF8F3;
    padding-top: 40px;
    /* background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.hero-content{
     display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left h5{
 font-weight: 600;
 font-size: 40px;
 color: #474747;
}
.hero-left h2{
 font-weight: 700;
 font-size: 60px;
 line-height: 1;
}
.hero-left p{
  padding-top: 20px;
  color: #757575;
  padding-right: 100px;
}
.hero-btn{
    padding-top: 30px;
}
.hero-right{
    
}
/* about  */
.about{
    padding: 130px 0;
}
.about-main{
    background-color: #FFF8F3;
    padding: 120px 60px;
}
.about-content{
    text-align: center;
}
.about-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.about-list p{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}
.about-list h3{
    font-weight: 700;
    color: #474747;
}
/* what i do  */
.cards{
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    background: var(--white-color);
    border-radius: 5px;
    margin-top: 30px;
   display: flex;
   justify-content: space-between;
   gap: 8px;
    
}
.card-box{
   border: 2px solid #fd6e0a;
   padding: 8px;
   border-radius: 10px;
   text-align: left;
  
  
}
.card-box img{
    margin-bottom: 30px;
}
.card-box h4{
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.card-box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
/* resume */
.resume h2{
   font-weight: 700;
   font-size: 35px;
   text-align: center;
   color: #181818;  
   padding: 70px 0 80px;
}
.resume-main{
    display: flex;
    justify-content: space-between;
}
.resume-box{
  padding: 50px 0;
  border-bottom: 1px solid #5555;
}
.resume-box h3{
   font-weight: 700;
   font-size: 30px;
   color: #474747;
   margin-bottom: 30px;
}
.resume-box h6{
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 8px;
}
.resume-box span{
   font-weight: 600;
   font-size: 20px;
   color: #757575;
   display: inline-block;
   margin-bottom: 20px;
   
}
.resume-box p{
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  padding-right: 63%;
}
